<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <body class="bg-image" style="background-image: url(https://u-static.fotor.com/images/text-to-image/result/PRO-3f027b61d1a048c39ca79dddc7f5949b.jpg); height: 100vh; background-size: cover; 
    background-repeat: no-repeat; background-position: center;">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Task Manager</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <ul class="navbar-nav">
          <li class="nav-item"><a href="{{ url_for('add') }}" class="nav-link">Add new</a></li>
          <li class="nav-item"><a href="{{ url_for('task') }}" class="nav-link">Tasks</a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/in/temitope-oyebanji-8690762a3/" target="_blank" class="nav-link">LinkedIn Profile</a></li>
          <li class="nav-item"><a href="https://www.coursera.org/my-learning?myLearningTab=IN_PROGRESS" target="_blank" class="nav-link">Coursera</a></li>
          <li class="nav-item"><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="nav-link">Gmail</a></li>
          <li class="nav-item"><a href="https://google.com" target="_blank" class="nav-link">Search Engine</a></li>
          <li class="nav-item"><a href="https://github.com/Tshadow19760" target="_blank" class="nav-link">Github</a></li>
        </ul>
      </nav>
      <br>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-primary">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <br>

      {% block main %}{% endblock %}
    </div>
  </body>
</html>
